[user]
	name = Nikita Nazarov
	email = nikitanazarov@google.com
[core]
	autocrlf = input
	editor = "vim"
[pull]
	rebase = true
[alias]
	cp = cherry-pick
	s = status
	co = checkout
	br = branch
    cane = commit --amend --no-edit

[color]
	ui = auto
[http]
	cookiefile = /Users/nikitanazarov/.gitcookies
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[pager]
    branch = false
