[user]
	name = Nikita Nazarov
	email = nikitanazarov@google.com
[core]
	autocrlf = input
	editor = "vim"
[pull]
	rebase = true
[alias]
	cp = cherry-pick
	s = status
	co = checkout
	br = branch

[color]
	ui = auto
